
@import "../../styles/base";

.wrapper {
  height: calc(90vh - #{$navigation--height});
  min-height: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;

  &:after {
    content: "";
    position: absolute;
    top: -20px;
    bottom: -20px;
    left: -20px;
    right: -20px;
    filter: blur(5px);
    background: {
      color: $color--green;
      image: linear-gradient(rgba($color--green, 0), rgba($color--green-warm, 0.1)),
             linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
             url("../../img/splash.jpg");
      size: cover;
      position: center;
      repeat: no-repeat;
    }
  }
}

.keyline {
  display: inline-block;
    height: 1px;
    width: 100px;
    background-color: $color--light-gray;
    margin: {
      top: $vertical-spacing--large;
      bottom: $vertical-spacing--medium;
    }
}

.button {
  width: 200px;
  margin-bottom: $vertical-spacing--normal;
}

.capLogo {
  height: $navigation--height / 3;
  margin-left: $horizontal-spacing--normal;
}
