
@import "../../styles/base";

.splash {
  height: calc(100vh - #{$navigation--height});
  min-height: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  overflow: hidden;

  &:after {
    content: "";
    position: absolute;
    top: -20px;
    bottom: -20px;
    left: -20px;
    right: -20px;
    background: {
      color: $color--green;
      image: linear-gradient(rgba($color--green, 0), rgba($color--green-warm, 0.1)),
             linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
             url("../../img/splash.jpg");
      size: cover;
      position: center;
      repeat: no-repeat;
    }
  }
}

.splashCopy {
  max-width: 700px;
  text-align: center;
  margin-bottom: $vertical-spacing--xlarge;
  position: relative;
  z-index: 1;
}

.logoMark {
  height: 100px;
}

.header {
  @extend %h1;

  color: $color--white;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}

.subHeader {
  @extend %h2;

  color: rgba($color--white, 0.8);
}

.searchWrapper {
  display: flex;
  position: relative;
  z-index: 1;
}

.input {

  & + & {
    margin: {
      right: 1rem;
      left: 0.5rem;
    }
  }
}
