
.st0 { fill:url(#SVGID_1_); }
.st1 { fill:url(#SVGID_2_); }
.st2 { fill:url(#SVGID_3_); }
.st3 { fill:url(#SVGID_4_); }
.st4 { fill:url(#SVGID_5_); }
.st5 { fill:url(#SVGID_6_); }
.st6 { fill:url(#SVGID_7_); }
.st7 { fill:url(#SVGID_8_); }
.st8 { fill:#161616; }
.st9 { fill:url(#SVGID_9_); }
