
@import "../../styles/base";

.searchHeader {
  background-color: $color--green;
  background-image: linear-gradient(-45deg, $color--green, mix($color--green, $color--yellow-pale));
  padding: {
    top: $vertical-spacing--xlarge;
    bottom: $vertical-spacing--xlarge;
  }
  margin-bottom: -($vertical-spacing--xlarge + $vertical-spacing--medium);
  color: $color--white;

  label {
    color: rgba($color--white, 0.85);
  }
}

.header {
  text-shadow: 0 1px 1px rgba(darken($color--green, 35%), 0.3);
}

.keyline {
  display: inline-block;
  height: 1px;
  width: 40px;
  background-color: $color--light-gray;
  margin: {
    top: $vertical-spacing--large;
    bottom: $vertical-spacing--medium;
  }
}

.searchDetails {
  display: flex;
  margin-bottom: $vertical-spacing--medium;
}

.flightContainer {
  padding: 0;
  overflow: hidden;
}

.flight {
  transition: all 0.1s ease-in-out;
  display: flex;
  cursor: pointer;
  color: $color--dark-gray;
  padding: $vertical-spacing--medium $horizontal-spacing--large;
  text-decoration: none;

  &:hover {
    background-color: darken($color--white, 1.5%);
  }

  & + & {
    border-top: 1px solid $color--light-gray;
  }
}

.data {
  & + & {
    margin-left: $horizontal-spacing--medium;
  }
}
