
@import "../../styles/base";

.searchHeader {
  padding: {
    top: $vertical-spacing--large;
    bottom: $vertical-spacing--xlarge;
  }
  margin-bottom: -($vertical-spacing--xlarge + $vertical-spacing--medium);
  color: $color--white;
  position: relative;

  &:before,
  &:after {
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
  }

  &:before {
    background: {
      color: $color--green;
      image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0) 90%), url("../../img/singapore.jpg");
      size: cover;
      position: center;
      repeat: no-repeat;
    }
    filter: grayscale(100%) contrast(1) brightness(0.6);
    mix-blend-mode: multiply;
  }

  &:after {
    background-color: $color--green;
    mix-blend-mode: lighten;
  }

  label {
    color: rgba($color--white, 0.85);
  }
}

.header {
  text-shadow: 0 1px 1px rgba(darken($color--green, 35%), 0.3);
}

.keyline {
  display: inline-block;
  height: 1px;
  width: 40px;
  background-color: $color--light-gray;
  margin: {
    top: $vertical-spacing--large;
    bottom: $vertical-spacing--medium;
  }
}

.searchDetails {
  display: flex;
  margin-bottom: $vertical-spacing--medium;
}

.flightContainer {
  padding: 0;
  overflow: hidden;
}

.flight {
  transition: all 0.1s ease-in-out;
  display: flex;
  cursor: pointer;
  color: $color--dark-gray;
  padding: $vertical-spacing--medium $horizontal-spacing--large;
  text-decoration: none;

  &:hover {
    background-color: darken($color--white, 1.5%);
  }

  & + & {
    border-top: 1px solid $color--light-gray;
  }
}

.data {
  & + & {
    margin-left: $horizontal-spacing--medium;
  }
}
