
@import "../../styles/base";

.card {
  @include box-shadow(1);
  background-color: $color--white;
  border-radius: 5px;
  padding: $vertical-spacing--medium $horizontal-spacing--large;
  text-decoration: none;

  & + & {
    margin-top: $vertical-spacing--normal;
  }

  h1 {
    @extend %h1;

    color: $color--dark-gray;
  }

  h2 {
    @extend %h2;
    
    color: $color--gray;

    &:first-child {
      margin-top: 0;
    }
  }

  p {
    color: $color--gray;
  }
}

.cardGroup {
  position: relative;
  z-index: 1;
  width: 750px;
  margin: auto {
    top: $vertical-spacing--large;
    bottom: $vertical-spacing--medium;
  }
}
