
@import "../../styles/base";

.pointsAvailable {
  color: $color--dark-gray !important;
}

.points {
  color: $color--green;
  font-weight: bold;
}

.cardColWrap {
  display: flex;
  align-items: center;
}

.cardCol1 {
  flex-grow: 1;
}

.tabs {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-bottom: $vertical-spacing--medium;
}

.tab {
  border: 1px solid $color--green;
  color: $color--green;
  padding: $vertical-spacing--xsmall $horizontal-spacing--normal;
  width: 100px;
  text-align: center;
  cursor: pointer;

  &:first-of-type {
    border-radius: 4px 0 0 4px;
  }

  &:last-of-type {
    border-radius: 0 4px 4px 0;
  }

  &.sActive {
    background-color: $color--green;
    color: $color--white;
  }

  &:not(:first-of-type) {
    margin-left: 0;
  }
}

.label {
  margin-bottom: $vertical-spacing--normal;
  display: block;
}

.cardImage {
  height: 45px;
  margin-right: $horizontal-spacing--medium;
  align-self: flex-start;
}

.usePointsButton {
  margin-bottom: $vertical-spacing--normal;
}

.keyline {
  display: inline-block;
  height: 1px;
  width: 40px;
  background-color: $color--light-gray;
  margin: {
    top: $vertical-spacing--large;
    bottom: $vertical-spacing--medium;
  }
}

.cta {
  margin-left: $horizontal-spacing--normal;
  text-align: right;
}

.searchHeader {
  padding: {
    top: $vertical-spacing--large;
    bottom: $vertical-spacing--xlarge;
  }
  margin-bottom: -($vertical-spacing--xlarge + $vertical-spacing--large);
  color: $color--white;
  position: relative;

  &:before,
  &:after {
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
  }

  &:before {
    background: {
      color: $color--green;
      image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0) 90%), url("../../img/singapore.jpg");
      size: cover;
      position: center;
      repeat: no-repeat;
    }
    filter: grayscale(100%) contrast(1) brightness(0.6);
    mix-blend-mode: multiply;
  }

  &:after {
    background-color: rgba(0, 0, 0, 0.5);
  }

  label {
    color: rgba($color--white, 0.85);
  }
}

.header {
  text-shadow: 0 1px 1px rgba(darken($color--green, 35%), 0.3);
}